<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= params[:team_name] %></title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1><%= params[:team_name] %></h1>

    <ul>
      <% @player_positions.each do |player| %>
        <li><%= player[:first_name] + ' ' %> <%= player[:last_name] + ' - ' %><%= player[:position] %></li>
      <% end %>
    </ul>

  </body>
</html>
